/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family: Arial;
}

.warp{
    width: 1500px;
    height: 600px;
    background: #00f4a8;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.heading{   
    writing-mode: vertical-rl;
    color: #005c48;
    margin-right: 50px;
    font-size: 30px;
    font-weight: 500;
}
.heading h1{
    font-size: 70px;
    margin-right: 10px;

}
.card{
    width: 650px;
    height: 350px;
    background: #ededed;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0px 0px 18px 2px   #a9a9a9;
    position: relative;
    overflow: hidden;
}
.card img{
    width: 200px;
    margin-bottom: 40px;
}
.card h2{
    color: #367f8a;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 700;
}
.card h3{
    color: #1a6b59;
    font-size: 50px;
    margin-left: 100px;
    margin-bottom: 30px;
    font-weight: 700;
}
ul li{
    color: #367f8a;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
}  
.box1{
    width: 100px;
    height: 0px;
    border-width: 0 50px 87px ;
    border-style: solid;
    border-color:  transparent transparent #3cb371;
    position: relative;
    position: absolute;
    top: -10px;
    right: -60px;
}
.box1::after{
    position: absolute;
    top:87px;
    left:-50px;
    width: 100px;
    height: 0px;
    content: "";
    border-width: 87px 50px 0 ;
    border-style: solid;
    border-color: #3cb371 transparent transparent;
} 
.box2{
    width: 76px;
    height: 0px;
    border-width: 0 38px 63px ;
    border-style: solid;
    border-color:  transparent transparent #5f9ea0;
    position: relative;
    position: absolute;
    top: 100px;
    right: 100px;

}
.box2::after{
    position: absolute;
    top:63px;
    left:-38px;
    width: 76px;
    height: 0px;
    content: "";
    border-width: 63px 38px 0 ;
    border-style: solid;
    border-color: #5f9ea0 transparent transparent;
}
.box3{
    width: 100px;
    height: 0px;
    border-width: 0 50px 87px ;
    border-style: solid;
    border-color:  transparent transparent #66cdaa;
    position: relative;
    position: absolute;
    bottom: 150px;
    right: -60px;
}
.box3::after{
    position: absolute;
    top:87px;
    left:-50px;
    width: 100px;
    height: 0px;
    content: "";
    border-width: 87px 50px 0 ;
    border-style: solid;
    border-color: #66cdaa transparent transparent;
} 